@media only screen and (max-width: 767px) {

  .page{
   
filter: brightness(50%);
width: 100vw;
    height: 100vh;
z-index: 998;
  

  [data-nav]{
    background: white;

  }
  
  .navebar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
    width: 95VW;
    height: 70px;
    gap: 76%;
    left: 4%;

    
    .logo {
      width: 55px;
      height: 32px;
    }
  
    .container-navebar {
      height: 100vh;
      position: fixed;
      top: 0;
      width: 75%;
      right: 1%;
      background: floralwhite;
      padding-left: 8%;
      padding-top: 47%;
      left: -100%; /* Inicia o menu à esquerda */
      transition: right 0.10s ease-in-out; /* Adiciona uma transição suave */
    z-index: 998;


      .menu-navebar {
        display: flex;
        font-weight: 400;
        flex-direction: column;
        justify-content: space-between;
        height: 230px;
        font-weight: bold;

      }
    }

    .menu-navebar li {
      list-style: none;
      user-select: none;


      &:hover {
        color: $red;
        cursor: pointer;
      }
    }

    .menu-toggle {
      display: none;
    }

    .menu-toggle-label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 76%;
      position: absolute;
      right: 20px;

    }

  
    .menu-toggle:checked ~ .container-navebar {
    left: 30%;

    }

    .bnt-navebar-ativo {
      display: block;
      width: 35px;
      height: 30px;
      z-index: 999;
    }
  } 


  .inicial{
display: flex;
flex-direction: column;


h1{

font-weight: 700;

}

  .container-img {
    width: 89vw;
    height: 350px;
    overflow: hidden;
    
    .banner-mobile {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    .banner-desktop {
      display: none;

      
    }

    
  }
}

}
}