
@media only screen and (min-width: 1800px) {

    .navebar{
        justify-content: space-between;
        align-items: center;
        margin-top: 3%;
        margin-left: 15%;
        margin-right: 5%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-columns: reapeat(12, 1fr);


    .menu-toggle{
        display: none;
        
    }
    .menu-toggle-label{
        grid-column: 10/11;
        margin-right: 5%;
    }

    .logo{
        width:57px;
        height: 35px;
    }

    .bnt-navebar-ativo{
        display: none;
    }

    .bnt-navebar-inativo{
        display: none;
    }
    
    .menu-navebar{
        display: flex;
        font-family: $fonte-primaria;
        justify-content: space-between;
        width: 750px;
        font-size: 1.5rem;

    }

    .menu-navebar li{
        list-style: none;

        &:hover{
            color: $red;
            cursor: pointer;
        }
    }

   

}
    main{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(5, 200px);
    
    }
    
    
    .container-img{
    
        grid-column: 1/7;
        margin-right: 4%;
    
        .banner-desktop{
    
            width: 100%;
            height: 35vh;
    
        }
    
        .banner-mobile{
            display: none;
        }
    
    }
    
    .titulo{
        display: grid;
        grid-template-columns: repeat(14, 55px);
        grid-template-rows: 1fr 1fr;
        grid-column: 1/8;
        grid-row: 2/3;
        padding-right: 13%;
        margin-top: 20%;
    
        h1{
            grid-column: 1/8;
            grid-row: 1/2;
            display: flex;
            align-items: center;
            font-family: $fonte-primaria;
            font-weight: 800;
            font-size: 63px;
            width: 90%;
        }
    
        .texto{
            grid-column: 10/14;
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            
    
    
            p{
                width: 440px;
                font-size: 1.5rem;
                font-weight: 400;
                color: $dark-blue;
                line-height: 25px;
                margin-top: 2px;
            }
    
            button{
                width: 65%;
                height: 25%;
                background: $red;
                color: $white;
                font-weight: bold;
                border: solid 1px;
                font-size: 13px;
                letter-spacing: 5px;
                text-transform: uppercase;
    
                &:hover{
                    cursor: pointer;
                    background: $black;
                }
                
            }
        }
        
    }
    
    .new{
        grid-column: 7/11;
        padding-right: 5%;
        background: $black;
        margin-left: 5%;
        margin-right: 22%;
        display: flex;
        flex-direction: column;
        height: 62vh;
    
        .container-new{
            margin-left: 10%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 64vh;
            justify-content: space-around;
    
            h2{
                color: $orange;
                font-size: 3rem;
            }
            .new-textos{
                &:nth-child(-n + 3){
                border-bottom: solid 2px $dark-blue;
                }
            
                h3{
                    color: $white;
                    font-size: 2rem;
                    &:hover{
                        cursor: pointer;
                        color: $orange;
                    }
                }
                p{
                    color: $dark-blue;
                    margin-top: 5%;
                    margin-bottom: 9%;
                    font-size: 1.5rem;
                   
                }
            }
        }
    }
    
        .imagens{
            display: flex;
            grid-column: 1/10;
            grid-row: 5/5;
            margin-top: 3%;
    
            .itens-imagens{
                display: flex;
                margin-right: 5%;
    
                .img{
                    height: 200px;
                    margin-right: 5%;
    
                }
                .imagens-textos{
                    width: 340px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    height: 69%;
                    margin-top: 3%;
    
                     h2{
                        font-size: 3rem;
                        color: $blue;
    
                     }
                     h3{
                        font-size: 1.5rem;

                        &:hover{
                            cursor: pointer;
                            color: $red;
                        }
                     }
                     p{
                        font-size: 1rem;

                        color: $dark-blue;
                     }
                }
            }
        }
    
    }