@media only screen and (min-width: 767px) {

main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 200px);

}


.container-img{

    grid-column: 1/7;
    margin-right: 4%;

    .banner-desktop{

        width: 100%;
        height: 35vh;

    }

    .banner-mobile{
        display: none;
    }

}

.titulo{
    display: grid;
    grid-template-columns: repeat(14, 55px);
    grid-template-rows: 1fr 1fr;
    grid-column: 1/8;
    grid-row: 2/3;
    padding-right: 13%;
    margin-top: 15%;

    h1{
        grid-column: 1/8;
        grid-row: 1/2;
        display: flex;
        align-items: center;
        font-family: $fonte-primaria;
        font-weight: 800;
        font-size: 53px;
        width: 80%;
    }

    .texto{
        grid-column: 8/14;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        


        p{
            width: 340px;
            font-size: 15px;
            font-weight: 400;
            color: $dark-blue;
            line-height: 25px;
            margin-top: 2px;
        }

        button{
            width: 55%;
            height: 25%;
            background: $red;
            color: $white;
            font-weight: bold;
            border: solid 1px;
            font-size: 13px;
            letter-spacing: 5px;
            text-transform: uppercase;

            &:hover{
                cursor: pointer;
                background: $black;
            }
            
        }
    }
    
}

.new{
    grid-column: 7/11;
    padding-right: 5%;
    background: $black;
    margin-left: 5%;
    margin-right: 22%;
    display: flex;
    flex-direction: column;
    height: 62vh;

    .container-new{
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 64vh;
        justify-content: space-around;

        h2{
            color: $orange;
            font-size: 2.5rem;
        }
        .new-textos{
            &:nth-child(-n + 3){
            border-bottom: solid 2px $dark-blue;
            }
        
            h3{
                color: $white;
                &:hover{
                    cursor: pointer;
                    color: $orange;
                }
            }
            p{
                color: $dark-blue;
                margin-top: 5%;
                margin-bottom: 9%;
                font-size: 15px;
               
            }
        }
    }
}

    .imagens{
        display: flex;
        grid-column: 1/10;
        grid-row: 4/4;

        .itens-imagens{
            display: flex;
            margin-right: 5%;

            .img{
                height: 150px;
            margin-right: 5%;

            }
            .imagens-textos{
                width: 240px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 69%;

                 h2{
                    font-size: 35px;
                    color: $blue;

                 }
                 h3{
                    &:hover{
                        cursor: pointer;
                        color: $red;
                    }
                 }
                 p{
                    color: $dark-blue;
                 }
            }
        }
    }

}