@media only screen and (max-width: 767px) {
    
    .navebar{
        position: fixed;
        top: 0;
        background: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5%;
        width: 89vw;
        height: 70px;
        gap: 76%;
    
        .logo{
            width: 47px;
            height: 32px;
        }

        .menu-toggle{
            display: none;
            
        }


        .menu-toggle-label{
            display: flex;
            justify-content: space-between;
             align-items: center;
            width: 89vw;
            gap: 76%;
        }
       

        .bnt-navebar-ativo{
            display: block;
            width: 40px;
            height: 30px;
            z-index: 999;
        }

          
          .menu-navbar li {
            padding: 10px;
          }
        
          .container-navebar{
            height: 100vh;
            position: fixed;
            top: 0;
            width: 75%;
            right: 1%;
            background: aliceblue;

            .menu-navebar{
            display: block;
            
            left: 1%;
            font-weight: 400;
            }
          }

        .menu-navebar li{
            list-style: none;
    
            &:hover{
                color: $red;
                cursor: pointer;
            }
        }
    }

    .container-img{
        
        width: 64%;
        height: 210px;
        overflow: hidden;

        .banner-desktop{
            display: none;
        }
        
        .banner-mobile{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;

        }
    }
}