@media only screen and (max-width: 767px) {
    
    .navebar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5%;
        width: 48vw;
        gap: 76%;
    
        .logo{
            width: 47px;
            height: 32px;
        }

        .bnt-navebar-ativo{
            display: block;
        }

        .bnt-navebar-inativo{
            display: none;
        }
        
        .menu-navebar{
            display: none;
            font-family: $fonte-primaria;
            justify-content: space-between;
            width: 600px;
            font-size: 1.5rem;
    
        }
    
        .menu-navebar li{
            list-style: none;
    
            &:hover{
                color: $red;
                cursor: pointer;
            }
        }
    }

    .container-img{
        
        width: 64%;
        height: 210px;
        overflow: hidden;

        .banner-desktop{
            display: none;
        }
        
        .banner-mobile{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;

        }
    }
}