@import '../abstract/variavei';

.navebar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;

    .logo{
        width:67px;
        height: 40px;
    }
    
    .menu-navebar{
        display: flex;
        font-family: $fonte-primaria;
        justify-content: space-between;
        width: 400px;
    }

    .menu-navebar li{
        list-style: none;
    }
}