@charset "UTF-8";
.navebar {
  justify-content: space-between;
  align-items: center;
  margin-top: 3%;
  margin-left: 15%;
  margin-right: 5%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-columns: reapeat(12, 1fr);
}
.navebar .menu-toggle {
  display: none;
}
.navebar .menu-toggle-label {
  grid-column: 10/11;
  margin-right: 5%;
}
.navebar .logo {
  width: 57px;
  height: 35px;
}
.navebar .bnt-navebar-ativo {
  display: none;
}
.navebar .bnt-navebar-inativo {
  display: none;
}
.navebar .menu-navebar {
  display: flex;
  font-family: "Inter", sans-serif;
  justify-content: space-between;
  width: 500px;
  font-size: 1rem;
}
.navebar .menu-navebar li {
  list-style: none;
}
.navebar .menu-navebar li:hover {
  color: hsl(5, 85%, 63%);
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

main {
  margin-left: 15%;
  margin-right: 9%;
  margin-top: 3%;
  margin-bottom: 4%;
  width: 90vw;
}

@media only screen and (max-width: 767px) {
  .page {
    background: rgba(0, 0, 0, 0.3843137255);
    width: 100vw;
    height: 100%;
    z-index: 998;
  }
  main {
    margin-left: 8%;
    margin-top: 27%;
    width: 90vw;
  }
  [data-nav] {
    background: hsl(36, 100%, 99%);
  }
  .navebar {
    position: fixed;
    top: -13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
    width: 120VW;
    height: 73px;
    gap: 76%;
    left: -15%;
    padding-left: 2%;
    padding-right: 5%;
    z-index: 997;
  }
  .navebar .logo {
    width: 55px;
    height: 32px;
  }
  .navebar .container-navebar {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 75%;
    right: 1%;
    background: floralwhite;
    padding-left: 8%;
    padding-top: 47%;
    transition: right 0.1s ease-in-out; /* Adiciona uma transição suave */
    z-index: 998;
  }
  .navebar .container-navebar .menu-navebar {
    display: flex;
    font-weight: 400;
    flex-direction: column;
    justify-content: space-between;
    height: 230px;
    font-weight: bold;
  }
  .navebar .menu-navebar li {
    list-style: none;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .navebar .menu-navebar li:hover {
    color: hsl(5, 85%, 63%);
    cursor: pointer;
  }
  .navebar .menu-toggle {
    display: none;
  }
  .navebar .menu-toggle-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 76%;
    position: absolute;
    right: 28px;
    width: 55px;
    height: 32px;
  }
  .navebar .menu-navebar {
    display: none;
    font-family: "Inter", sans-serif;
    justify-content: space-between;
    width: 600px;
    font-size: 1.5rem;
  }
  .navebar .menu-toggle:checked ~ .container-navebar {
    left: 30%;
  }
  .navebar .bnt-navebar-ativo {
    display: block;
    width: 35px;
    height: 30px;
    z-index: 999;
  }
  h1 {
    font-weight: 700;
  }
  .container-img {
    width: 92vw;
    height: 286px;
    overflow: hidden;
  }
  .container-img .banner-mobile {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .container-img .banner-desktop {
    display: none;
  }
  .titulo {
    display: flex;
    padding-right: 13%;
    margin-top: 15%;
    flex-direction: column;
    width: 100vw;
  }
  .titulo h1 {
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 45px;
    width: 100%;
  }
  .titulo .texto {
    margin-top: 4%;
    margin-bottom: 21%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 21vh;
  }
  .titulo .texto p {
    width: 340px;
    font-size: 15px;
    font-weight: 400;
    color: hsl(236, 13%, 42%);
    line-height: 25px;
    margin-top: 2px;
  }
  .titulo .texto button {
    width: 52%;
    height: 32%;
    background: hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
    font-weight: bold;
    border: solid 1px;
    font-size: 13px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  .titulo .texto button:hover {
    cursor: pointer;
    background: hsl(240, 100%, 5%);
  }
  .new {
    padding-right: 5%;
    background: hsl(240, 100%, 5%);
    margin-right: 22%;
    display: flex;
    flex-direction: column;
    height: 53vh;
    width: 349px;
    margin-bottom: 18%;
  }
  .new .container-new {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 53vh;
    justify-content: space-around;
  }
  .new .container-new h2 {
    color: hsl(35, 77%, 62%);
    font-size: 2.5rem;
  }
  .new .container-new .new-textos:nth-child(-n+3) {
    border-bottom: solid 2px hsl(236, 13%, 42%);
  }
  .new .container-new .new-textos h3 {
    color: hsl(36, 100%, 99%);
  }
  .new .container-new .new-textos h3:hover {
    cursor: pointer;
    color: hsl(35, 77%, 62%);
  }
  .new .container-new .new-textos p {
    color: hsl(236, 13%, 42%);
    margin-top: 5%;
    margin-bottom: 9%;
    font-size: 15px;
  }
  .imagens {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
  }
  .imagens .itens-imagens {
    display: flex;
    margin-right: 5%;
    margin-bottom: 10%;
  }
  .imagens .itens-imagens .img {
    height: 150px;
    margin-right: 5%;
  }
  .imagens .itens-imagens .imagens-textos {
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 69%;
  }
  .imagens .itens-imagens .imagens-textos h2 {
    font-size: 35px;
    color: hsl(233, 8%, 79%);
  }
  .imagens .itens-imagens .imagens-textos h3:hover {
    cursor: pointer;
    color: hsl(5, 85%, 63%);
  }
  .imagens .itens-imagens .imagens-textos p {
    color: hsl(236, 13%, 42%);
  }
}
@media only screen and (min-width: 767px) {
  main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 200px);
  }
  .container-img {
    grid-column: 1/7;
    margin-right: 4%;
  }
  .container-img .banner-desktop {
    width: 100%;
    height: 35vh;
  }
  .container-img .banner-mobile {
    display: none;
  }
  .titulo {
    display: grid;
    grid-template-columns: repeat(14, 55px);
    grid-template-rows: 1fr 1fr;
    grid-column: 1/8;
    grid-row: 2/3;
    padding-right: 13%;
    margin-top: 15%;
  }
  .titulo h1 {
    grid-column: 1/8;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 53px;
    width: 80%;
  }
  .titulo .texto {
    grid-column: 8/14;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .titulo .texto p {
    width: 340px;
    font-size: 15px;
    font-weight: 400;
    color: hsl(236, 13%, 42%);
    line-height: 25px;
    margin-top: 2px;
  }
  .titulo .texto button {
    width: 55%;
    height: 25%;
    background: hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
    font-weight: bold;
    border: solid 1px;
    font-size: 13px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  .titulo .texto button:hover {
    cursor: pointer;
    background: hsl(240, 100%, 5%);
  }
  .new {
    grid-column: 7/11;
    padding-right: 5%;
    background: hsl(240, 100%, 5%);
    margin-left: 5%;
    margin-right: 22%;
    display: flex;
    flex-direction: column;
    height: 62vh;
  }
  .new .container-new {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 64vh;
    justify-content: space-around;
  }
  .new .container-new h2 {
    color: hsl(35, 77%, 62%);
    font-size: 2.5rem;
  }
  .new .container-new .new-textos:nth-child(-n+3) {
    border-bottom: solid 2px hsl(236, 13%, 42%);
  }
  .new .container-new .new-textos h3 {
    color: hsl(36, 100%, 99%);
  }
  .new .container-new .new-textos h3:hover {
    cursor: pointer;
    color: hsl(35, 77%, 62%);
  }
  .new .container-new .new-textos p {
    color: hsl(236, 13%, 42%);
    margin-top: 5%;
    margin-bottom: 9%;
    font-size: 15px;
  }
  .imagens {
    display: flex;
    grid-column: 1/10;
    grid-row: 4/4;
  }
  .imagens .itens-imagens {
    display: flex;
    margin-right: 5%;
  }
  .imagens .itens-imagens .img {
    height: 150px;
    margin-right: 5%;
  }
  .imagens .itens-imagens .imagens-textos {
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 69%;
  }
  .imagens .itens-imagens .imagens-textos h2 {
    font-size: 35px;
    color: hsl(233, 8%, 79%);
  }
  .imagens .itens-imagens .imagens-textos h3:hover {
    cursor: pointer;
    color: hsl(5, 85%, 63%);
  }
  .imagens .itens-imagens .imagens-textos p {
    color: hsl(236, 13%, 42%);
  }
}
@media only screen and (min-width: 1800px) {
  .navebar {
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-columns: reapeat(12, 1fr);
  }
  .navebar .menu-toggle {
    display: none;
  }
  .navebar .menu-toggle-label {
    grid-column: 10/11;
    margin-right: 5%;
  }
  .navebar .logo {
    width: 57px;
    height: 35px;
  }
  .navebar .bnt-navebar-ativo {
    display: none;
  }
  .navebar .bnt-navebar-inativo {
    display: none;
  }
  .navebar .menu-navebar {
    display: flex;
    font-family: "Inter", sans-serif;
    justify-content: space-between;
    width: 750px;
    font-size: 1.5rem;
  }
  .navebar .menu-navebar li {
    list-style: none;
  }
  .navebar .menu-navebar li:hover {
    color: hsl(5, 85%, 63%);
    cursor: pointer;
  }
  main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 200px);
  }
  .container-img {
    grid-column: 1/7;
    margin-right: 4%;
  }
  .container-img .banner-desktop {
    width: 100%;
    height: 35vh;
  }
  .container-img .banner-mobile {
    display: none;
  }
  .titulo {
    display: grid;
    grid-template-columns: repeat(14, 55px);
    grid-template-rows: 1fr 1fr;
    grid-column: 1/8;
    grid-row: 2/3;
    padding-right: 13%;
    margin-top: 20%;
  }
  .titulo h1 {
    grid-column: 1/8;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 63px;
    width: 90%;
  }
  .titulo .texto {
    grid-column: 10/14;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .titulo .texto p {
    width: 440px;
    font-size: 1.5rem;
    font-weight: 400;
    color: hsl(236, 13%, 42%);
    line-height: 25px;
    margin-top: 2px;
  }
  .titulo .texto button {
    width: 65%;
    height: 25%;
    background: hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
    font-weight: bold;
    border: solid 1px;
    font-size: 13px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  .titulo .texto button:hover {
    cursor: pointer;
    background: hsl(240, 100%, 5%);
  }
  .new {
    grid-column: 7/11;
    padding-right: 5%;
    background: hsl(240, 100%, 5%);
    margin-left: 5%;
    margin-right: 22%;
    display: flex;
    flex-direction: column;
    height: 62vh;
  }
  .new .container-new {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 64vh;
    justify-content: space-around;
  }
  .new .container-new h2 {
    color: hsl(35, 77%, 62%);
    font-size: 3rem;
  }
  .new .container-new .new-textos:nth-child(-n+3) {
    border-bottom: solid 2px hsl(236, 13%, 42%);
  }
  .new .container-new .new-textos h3 {
    color: hsl(36, 100%, 99%);
    font-size: 2rem;
  }
  .new .container-new .new-textos h3:hover {
    cursor: pointer;
    color: hsl(35, 77%, 62%);
  }
  .new .container-new .new-textos p {
    color: hsl(236, 13%, 42%);
    margin-top: 5%;
    margin-bottom: 9%;
    font-size: 1.5rem;
  }
  .imagens {
    display: flex;
    grid-column: 1/10;
    grid-row: 5/5;
    margin-top: 3%;
  }
  .imagens .itens-imagens {
    display: flex;
    margin-right: 5%;
  }
  .imagens .itens-imagens .img {
    height: 200px;
    margin-right: 5%;
  }
  .imagens .itens-imagens .imagens-textos {
    width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 69%;
    margin-top: 3%;
  }
  .imagens .itens-imagens .imagens-textos h2 {
    font-size: 3rem;
    color: hsl(233, 8%, 79%);
  }
  .imagens .itens-imagens .imagens-textos h3 {
    font-size: 1.5rem;
  }
  .imagens .itens-imagens .imagens-textos h3:hover {
    cursor: pointer;
    color: hsl(5, 85%, 63%);
  }
  .imagens .itens-imagens .imagens-textos p {
    font-size: 1rem;
    color: hsl(236, 13%, 42%);
  }
}/*# sourceMappingURL=style.css.map */